@use 'base/variables' as v;
@use 'base/mixins' as m;

.alert{
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  color: v.$white;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  max-width: fit-content;
  border-radius: 1rem;

  &.error{
    background-color: v.$red;
    border-left: .5rem solid darken(v.$red, 10%);
  }

  &.success{
    background-color: v.$green;
    border-left: .5rem solid darken(v.$green, 10%);
  }
}