@use "base/variables" as v;

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-height: 100vh; /* Establece la altura mínima al 100% del viewport */
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0;
  background: #e3f2fd;
  z-index: 2;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: v.$white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: v.$darkGray;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: v.$darkGray;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 260px;
  padding: 20px 0;
  background-color: v.$white;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.sidebar-content .logout-link {
  margin-top: 100%;
  margin-bottom: 0;
  width: 100%;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-link:hover {
  background-color: v.$principalColor;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: v.$titleColor;
}
.nav-link .link {
  font-size: 16px;
  color: v.$gray;
  font-weight: 400;
}
.nav-link:hover .icon,
.nav-link:hover .link {
  color: v.$white;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.main-part {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0px 5px;
  margin-top: 50px;
}
