@use "base/variables" as v;
@use "base/mixins" as m;

.table-container {
  // width: 60%;
  max-width: 1100px;
  margin: 0 auto;
  display: inline-block;

  @include m.tablet {
    width: 100%;
  }
}

.content-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead {
    tr {
      background-color: v.$blue;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      text-align: start;

      &:nth-of-type(even) {
        background-color: v.$white;
      }
    }
  }

  .actions-buttons-container {
    display: flex;
    // justify-content: space-between;
    column-gap: 1rem;
    align-items: center;

    .actions-button {
      padding: 1rem;
      color: v.$white;
      border-radius: 1rem;

      &.edit-button {
        background-color: v.$blue;
      }

      &.delete-button {
        background-color: v.$red;
      }
    }
  }

  .answered-buttons-container {
    .answered-button {
      padding: 1rem;
      color: v.$white;
      border-radius: 1rem;

      &.pendient-button {
        background-color: v.$red;
      }

      &.completed-button {
        background-color: v.$blue;
      }
    }
  }
}

@include m.tablet {
  .content-table {
    tr {
      display: flex;
      flex-direction: column;
      text-align: start;
    }

    td[data-title] {
      display: flex;

      &::before {
        width: 40%;
        content: attr(data-title);
        font-weight: bold;
      }
    }

    thead {
      display: none;
    }
  }
}

.create-button {
  @include m.button(v.$principalColor, v.$white);
  width: fit-content;
}
